<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript" src="/static/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    Type:
        <select id="type" style="width : 200">
            <option value="1">Offices</option>
            <option value="2">Partners bonus+</option>
        </select>
    City: <td><input type="text" name="city" id="city" style="width: 50" /></td>
    Street: <td><input type="text" name="street" id="street" /></td>
    <td><input type="button" name="send" id="send" value="Apply" onclick="query($('#city').val(),$('#street').val(),$('#type').val())" /></td>
    <a href="/rates/privat">Rates PrivatBank</a>
    <a href="/rates/nbu">Rates NBU</a>
    <div id="result"></div>
</body>
</html>